version: '3'
services:
  # 1. The Time-Series Database (InfluxDB 1.8)
  # We use 1.8 because it's much easier to use with Python than 2.0
  influxdb:
    image: influxdb:1.8
    container_name: iiot_db
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=factory_data

  # 2. The Visualization Tool (Grafana)
  grafana:
    image: grafana/grafana
    container_name: iiot_dashboard
    ports:
      - "3000:3000"
    links:
      - influxdb
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  influxdb_data:
  grafana_data: